<div class="col-md-12">
  <p>* Use this page to add questions to a submission template. (Other options:
    <%= link_to "Edit Question Details", :questions %>)
  </p>
  <br/><br/>
  <%= simple_fields_for :submission_template_questions do %>
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Pet Type</th>
          <th>Submission Template</th>
          <th>Question (position)</th>
          <th>Created on</th>
        </tr>
      </thead>

      <tbody>
        <% @submission_template_questions.
            includes(:question, { submission_template: :pet_type }).
            order('questions.position').each do |stq| %>
          <tr data-object="submission_template_question">
            <td><%= stq.id %></td>
            <td><%= stq.submission_template.pet_type.name %></td>
            <td><%= best_in_place(stq, :submission_template_id,
                                  as: :select,
                                  collection: @submission_templates_array,
                                  :place_holder => "---") %></td>
            <td><%= best_in_place(stq, :question_id,
                                  as: :select,
                                  collection: @questions_array,
                                  :place_holder => "---") %></td>
            <td><%= link_to "#{stq.created_at.strftime("%b %d %l:%M %p")}",
                               stq,
                               method: :delete,
                               data: { confirm: 'Are you sure you want to DELETE this and all associated records?' },
                               remote: true,
                               style: "color: black; text-decoration: none;"
            %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<script>
    $(document).ready(function() {
        /* Activating Best In Place */
        jQuery(".best_in_place").best_in_place();
    });

    $('.best_in_place').bind("ajax:success", function () {$(this).closest('tr').effect('highlight'); });
</script>
