<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-1 col-sm-6 col-xs-12 home-news'>
      <h3>Latest News</h3>
      <% @articles.each do |article| %>
        <h3><a href="<%= article.full_path %>"><%= cms_block_render('title', article) %></a></h3>
        <em><%= cms_block_render('date', article) %></em>

        <p><%= truncate(cms_block_render('body', article), length: 175) %></p>
        <%= link_to 'Read more', article.full_path %>
        <hr />
      <% end %>
    </div>
    <div class='col-md-4 col-sm-6 col-xs-12'>
      <h3>Upcoming Events</h2>
      <%= render 'events' %>
    </div>
  </div>
</div>
