<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="4500">
  <div class="carousel-inner" role="listbox">
    <% @images.each_with_index do |image, i| %>
      <div class="item <%= 'active' if i == 0 %>" style="background-image:url('<%= image.file.url %>');"></div>
    <% end %>
  </div>
</div>
<div class="hidden-xs">
  <ul class="nav nav-tabs">
    <li class="active"><a class="adoptees-tab" id="adoptees-tab-dog" href="#tab1" data-toggle="tab">Dogs</a></li>
    <li><a class="adoptees-tab" id="adoptees-tab-cat" href="#tab2" data-toggle="tab">Cats</a></li>
    <li><a class="adoptees-tab" id="adoptees-tab-horse" href="#tab3" data-toggle="tab">Horses</a></li>
    <li><a class="adoptees-tab" id="adoptees-tab-smallmammal" href="#tab4" data-toggle="tab">Others</a></li>
  </ul>

  <div class="container">
    <div class="tab-content">

        <div class="tab-pane active" id="tab1">
          <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row home-petrow">
              <% @dogs[0..3].each do |dog| %>
              <div class="animal col-md-3 col-sm-3">
                <a href="/adopt/dogs/<%= dog.id %>">
                    <div class="animal-img" style="background-image:url('<%= dog.photos.first.large %>')" ></div>
                    <h4><%= dog.name %></h4>
                </a>
                <p><small><%= dog.age %><br />
                <% if dog.sex == 'M' %>Male<% else %>Female<% end %><br />
                <%= dog.breeds.join(", ") %></small></p>
              </div>
              <% end %>
            </div>
            <div class="row home-petrow">
              <div class="col-md-12 col-sm-12 center-block text-center">
                <a href="/adopt/dogs">
                  <button type="button" class="btn btn-primary btn-lg">See All Our Adoptable Dogs</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab2">
          <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row home-petrow">
              <% @cats[0..3].each do |cat| %>
              <div class="animal col-md-3 col-sm-3">
                <a href="/adopt/cats/<%= cat.id %>">
                  <div class="animal-img" style="background-image:url('<%= cat.photos.first.large %>')" ></div>
                  <h4><%= cat.name %></h4>
                </a>
                <p><small><%= cat.age %><br />
                <% if cat.sex == 'M' %>Male<% else %>Female<% end %><br />
                <%= cat.breeds.join(", ") %></small></p>
              </div>
              <% end %>
            </div>
            <div class="row home-petrow">
              <div class="col-md-12 col-sm-12 center-block text-center">
                <a href="/adopt/cats">
                  <button type="button" class="btn btn-primary btn-lg">See All Our Adoptable Cats</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab3">
          <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row home-petrow">
              <% @horses[0..3].each do |horse| %>
              <div class="animal col-md-3 col-sm-3">
                <a href="/adopt/horses/<%= horse.id %>">
                  <div class="animal-img" style="background-image:url('<%= horse.photos.first.large %>')" ></div>
                  <h4><%= horse.name %></h4>
                </a>
                <p><small><%= horse.age %><br />
                <% if horse.sex == 'M' %>Male<% else %>Female<% end %><br />
                <%= horse.breeds.join(", ") %></small></p>
              </div>
              <% end %>
            </div>
            <div class="row home-petrow">
              <div class="col-md-12 col-sm-12 center-block text-center">
                <a href="/adopt/horses">
                  <button type="button" class="btn btn-primary btn-lg">See All Our Adoptable Horses</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab4">
          <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row home-petrow">
              <% @rabbits[0..3].each do |rabbit| %>
              <div class="animal col-md-3 col-sm-3">
                <a href="/adopt/rabbits/<%= rabbit.id %>">
                  <div class="animal-img" style="background-image:url('<%= rabbit.photos.first.large %>')" ></div>
                  <h4><%= rabbit.name %></h4>
                </a>
                <p><small><%= rabbit.age %><br />
                <% if rabbit.sex == 'M' %>Male<% else %>Female<% end %><br />
                <%= rabbit.breeds.join(", ") %></small></p>
              </div>
              <% end %>
            </div>
            <div class="row home-petrow">
              <div class="col-md-12 col-sm-12 center-block text-center">
                <p>
                  <a href="/adopt/rabbits">
                    <button type="button" class="btn btn-primary btn-lg">See All Our Adoptable Rabbits</button>
                  </a>
                </p>
                <p>
                  <a href="/adopt/small_animals">
                    <button type="button" class="btn btn-primary btn-lg">See All Our Other Adoptable Small Animals</button>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

</div>
<div class="hidden-lg hidden-md hidden-sm">

  <div class="row home-petrow center-block text-center">
    <div class="animal col-xs-10 col-xs-offset-1">
      <a href="/adopt/dogs/">
          <div class="animal-img" style="background-image:url('<%= @dogs.first.photos.first.large %>')" ></div>
        <h4>Adoptable Dogs</h4></a>
    </div>
  </div>
  <div class="row home-petrow center-block text-center">
    <div class="animal col-xs-10 col-xs-offset-1">
      <a href="/adopt/cats/">
          <div class="animal-img" style="background-image:url('<%= @cats.first.photos.first.large %>')" ></div>
        <h4>Adoptable Cats</h4></a>
    </div>
  </div>
  <div class="row home-petrow center-block text-center">
    <div class="animal col-xs-10 col-xs-offset-1">
      <a href="/adopt/horses/">
          <div class="animal-img" style="background-image:url('<%= @horses.first.photos.first.large %>')" ></div>
        <h4>Adoptable Horses</h4></a>
    </div>
  </div>
  <div class="row home-petrow center-block text-center">
    <div class="animal col-xs-10 col-xs-offset-1">
      <a href="/adopt/rabbits/">
          <div class="animal-img" style="background-image:url('<%= @rabbits.first.photos.first.large %>')" ></div>
        <h4>Adoptable Rabbits</h4></a>
      <a href="/adopt/small_animals/">
        <h4>Adoptable Small Animals</h4></a>
    </div>
  </div>

</div>