<div class="animal-listing container">
  <%- if @animals.present? %>
  <div class="row">
    <%- @animals.each_with_index do |animal, index| %>
      <%- if index % 4 == 0 %>
        <div class='clearfix'></div>
      <%end%>
      <div class="animal col-xs-3">
        <%= link_to animal_path(animal.animal, animal.id) do %>
          <%- if animal.photos.present? %>
            <div class="animal-img" style="background-image:url('<%= animal.photos.first.large %>')" ></div>
          <%- else %>
            <div class="animal-img img-not-found" style="background-image:url('<%= image_url("pet-image-not-found.png") %>')" ><em class='text-center'>No image available</em></div>
          <% end %>
          <h4><%= animal.name %></h4>
        <%end%>
        <div><%= animal.breeds.join(", ") %></div>
      </div>
    <%end%>
  </div>

  <%- else %>
    No <%= controller.action_name.gsub('_', ' ') %> currently available!
  <% end%>
</div>
