<div class="animal-listing container">
  <%- if @animals.present? %>
  <div class="row">
    <%- @animals.each_with_index do |animal, index| %>
      <%- if index % 4 == 0 %>
        <div class='clearfix'></div>
      <%end%>
      <div class="animal col-xs-3">
        <%= link_to send("#{animal.animal.gsub(' & Furry', '_animal').downcase}_path", animal.id) do %>
          <%- if animal.photos.present? %>
            <img class='img-thumbnail' src=<%= animal.photos.first.large %> />
          <%- else %>
            <em class='text-center'>No image available</em>
          <% end %>
          <h4><%= animal.name %></h4>
        <%end%>
        <div><%= animal.breeds.join(", ") %></div>
      </div>
    <%end%>
  </div>

  <%- else %>
    No <%= controller.action_name.gsub('_', ' ') %> currently available!
  <% end%>
</div>
