<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-8">
          <%= link_to "", "/", :class => "logo pull-left" %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-4">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 nav-contact hidden-xs">
              <p class="pull-right"><a href="https://www.google.com/maps/place/4057+Chain+Bridge+Rd,+Fairfax,+VA+22030/@38.8445997,-77.3072039,17z/data=!3m1!4b1!4m2!3m1!1s0x89b64e92857ad087:0xf54d6dac220fb9b9" alt="View on Google Maps" title="View on Google Maps">4057 Chain Bridge Road / Fairfax, VA 22030</a> <i class="fa fa-paw"></i> 703.385.7387</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ul class="hsfc-navigation pull-right" role="navigation">
                <li class="dropdown primary-nav">
                  <a class="dropdown-toggle primary-focus" type="button" id="dropdown-adopt" data-toggle="dropdown" aria-expanded="false">Adopt <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-adopt">
                    <li><%= link_to "Dogs", "/adopt/dogs" %></li>
                    <li><%= link_to "Cats", "/adopt/cats" %></li>
                    <li><%= link_to "Foster Cats", "/adopt/foster_cats" %></li>
                    <li><%= link_to "Horses", "/adopt/horses" %></li>
                    <li><%= link_to "Rabbits", "/adopt/rabbits" %></li>
                    <li><%= link_to "Small Animals", "/adopt/small_animals" %></li>
                    <li role="separator" class="divider nav-divider"></li>
                    <li><%= link_to "Application", "/" %></li>
                    <li><%= link_to "Adoption Process", "/" %></li>
                    <li><%= link_to "Recent Adoptions", "/" %></li>
                  </ul>
                </li>
                <li class="dropdown primary-nav">
                  <a class="dropdown-toggle primary-focus" type="button" id="dropdown-support" data-toggle="dropdown" aria-expanded="false">Support <i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-support">
                    <li><%= link_to "Donate", "/" %></li>
                    <li><%= link_to "Memorial Donation", "/" %></li>
                    <li><%= link_to "Wish List", "/" %></li>
                    <li><%= link_to "Meals Program", "/" %></li>
                    <li><%= link_to "Thrift Store", "/" %></li>
                    <li><%= link_to "Sponsors", "/" %></li>
                  </ul>
                </li>
                <li class="primary-nav"><%= link_to "News", news_index_path %></li>
                <li class="primary-nav"><%= link_to "About", "/" %></li>
              </ul>
            </div>
            </div>
         </div>
      </div>
    </div>
  </nav>
</header>
