<!DOCTYPE html>
<html>
<head>
  <title>HsfcRubyforgood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if (lt IE 9) & (!IEMobile)]>
    <%= javascript_include_tag "conditional/respond.min.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "conditional/html5shiv.min.js", "data-turbolinks-track" => true %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
