<!DOCTYPE html>
<html>
<head>
  <title>HsfcRubyforgood</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
